<header>
  <div class="container header-contents flex">
    <div class="logo flex">
      <a href="/">
        <img src="/images/owl.png" alt="owl" width="50px" height="50px"/>
        <p>Opinion Owl</p>
      </a>
    </div>
    <nav th:if="${username == null}" class="flex">
        <a href="/loginUser" class="btn">
          Login
        </a>
        <a href="/registerUser" class="btn">
          Register User
        </a>
    </nav>
    <nav th:if="${username != null}" class="flex top-right-profile">
      <p>Username: <span th:text="${username}"></span></p>
      <div class="flex">
        <button class="btn" id="logout-btn">Logout</button>
        <a th:href="@{/manageSurvey(username=${username})}" class="btn">
          Manage Surveys
        </a>
        <a th:href="@{/savedResponses(username=${username})}" class="btn">
          View Saved Responses
        </a>
      </div>
    </nav>
  </div>
  <script src="/scripts/logoutFunc.js" type="application/javascript"></script>
</header>