<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpinionOwl | Answer Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/globals.css">
</head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="container">
            <h1>Answering Survey#<span th:text="${surveyId}"></span></h1>
            <form class="survey-form answer-survey-form" th:action="@{/api/v1/createSurvey}" method="POST" id="answer-survey-form">
                <h2 class="form-title"><span th:text="${surveyTitle}"></span></h2>
                <div th:each="i : ${#numbers.sequence(1, numberOfQuestions)}">
                    <div th:if="${longAnswerQuestions.get(i) != null}" class="text-questions">
                        <label class="question" th:text="${longAnswerQuestions.get(i).getPrompt()}"></label>
                        <input type="text" th:id="${longAnswerQuestions.get(i).getId()}" required />
                    </div>
                    <div th:if="${radioChoiceQuestions.get(i) != null}">
                        <label th:text="${radioChoiceQuestions.get(i).getPrompt()}" class="question"></label>
                        <div th:each="choice : ${radioChoiceQuestions.get(i).getChoices()}" class="radio-container flex">
                            <input type="radio" required th:id="${radioChoiceQuestions.get(i).getId()}" th:name="${radioChoiceQuestions.get(i).getId()}">
                            <label th:text="${choice}"></label>
                        </div>
                    </div>
                    <div th:if="${rangeQuestionQuestions.get(i) != null}" class="range-question">
                        <label th:text="${rangeQuestionQuestions.get(i).getPrompt()}" class="question"></label>
                        <div class="flex range-option">
                            <span th:text="${rangeQuestionQuestions.get(i).getLower()}"></span>
                            <input type="range" th:id="${rangeQuestionQuestions.get(i).getId()}" th:min="${rangeQuestionQuestions.get(i).getLower()}" th:max="${rangeQuestionQuestions.get(i).getUpper()}" required />
                            <span th:text="${rangeQuestionQuestions.get(i).getUpper()}"></span>
                        </div>
                    </div>
                    <hr />
                </div>
                <button class="btn flex" type="submit" id="submit-button">
                    Submit
                    <svg viewBox="0 0 24 24" width="23px" height="23px"
                         xmlns="http://www.w3.org/2000/svg" fill="#fff" stroke="#fff"><g stroke-width="0"></g><g stroke-linecap="round" stroke-linejoin="round"></g><g>
                        <path d="M19 21H5V5h2v2h10V5h2v2.172l1-1V4h-3V3h-3a2 2 0 0 0-4 0H7v1H4v18h16V11.828l-1 1zM8 4h3V2.615A.615.615 0 0 1 11.614 2h.771a.615.615 0 0 1 .615.615V4h3v2H8zm14.646 1.646l.707.707-8.853 8.854-3.854-3.854.707-.707 3.147 3.147z"></path>
                    </g>
                    </svg>
                </button>
            </form>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
        <script src="/scripts/saveSurveyResponse.js" type="application/javascript"></script>
    </body>
</html>