<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Created AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<h1>Survey#<span th:text="${survey.id}"></span>: <span th:text="${survey.getTitle()}"></span></h1>
<form>
    <div th:each="question : ${survey.questions}">
        
    </div>
</form>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>