<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>OpinionOwl | Edit Survey</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/globals.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container create-survey-container">
      <h1>Editing Survey#<span th:text="${surveyId}" id="surveyId"></span></h1>
      <p class="disclaimer"><strong>Note:</strong>Editing the survey will remove the existing responses from the previous survey!</p>
      <div class="form-builder-options">
        <button id="add-text" class="btn">Add Text Question</button>
        <button id="add-radio-choice" class="btn">Add Multiple Choice Question</button>
        <button id="add-numeric-range" class="btn">Add Numeric Range Select Question</button>
      </div>

      <div class="form-container">
        <form class="survey-form" th:action="@{/api/v1/createSurvey}" method="post" id="survey-container">
          <h2 contenteditable="true" class="form-title" th:text="${surveyTitle}"></h2>
          <table id="survey">
          </table>
          <button type="submit" id="update-survey" class="btn create-edit-submit-btn">Update Survey</button>
        </form>
      </div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script src="/scripts/createSurvey.js" type="application/javascript"></script>
    <script src="/scripts/editSurvey.js" type="application/javascript"></script>
  </body>
</html>
