<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Created AddressBook</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
</head>
<body>
<h1>Welcome To OpinionOwl</h1>
<p></p>
<a href="/createSurvey"></a>
<div>
    <h2>Surveys Available</h2>
    <ul>
        <li>
            <a  href="/answerSurvey">
                <h3>Name: Survey 1</h3>
                <p>Questions: 10</p>
            </a>
        </li>
        <li>
            <a href="/answerSurvey">
                <h3>Name: Survey 2</h3>
                <p>Questions: 15</p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>