<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpinionOwl | Manage Survey</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/globals.css">
</head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <div class="container manage-survey-page">
            <h1>Manage Surveys</h1>
            <div class="grid-auto-fit user-survey-lst">
                <div class="user-survey" th:each="survey : ${surveys}">
                    <p class="title">Survey #<span th:text="${survey.getId()}"></span>: <span th:text="${survey.getTitle()}"></span></p>
                    <p class="num-questions">Number of Questions: <span th:text="${survey.getQuestions().size()}"></span></p>
                    <div class="button-container">
                        <a th:href="@{/viewResponse(surveyId=${survey.getId()})}" class="view"><button type="button" th:disabled="${!survey.isClosed()}" class="btn">View Results</button></a>
                        <div class="flex">
                            <a th:href="@{/editSurvey(surveyId=${survey.getId()})}" class="editable"><button class="btn">Edit Survey</button></a>
                            <button class="btn close-survey" type="button" th:disabled="${survey.isClosed()}" th:onclick="'closeSurvey(' + ${survey.getId()} + ')'" th:text="${'Close Survey'}">Close Survey</button>
                        </div>
                    </div>
                </div>
            </div>
            <p th:if="${surveys.size() == 0}" class="no-surveys">Make Surveys to see them here!</p>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
        <script src="/scripts/manageSurvey.js" type="application/javascript"></script>
    </body>
</html>