<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpinionOwl | Register User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/globals.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>Register a User</h1>
    <form id="registerUser-form" class="login-register-form" th:action="@{/api/v1/createUser}" method="post">
        <p>Username:</p>
        <input type="text" id="username"/>
        <p>Password:</p>
        <input type="password" id="password"/>
        <p id="error-message"></p>
        <button type="submit" id="registerUser-submit"  class="btn">Register</button>
        <a href="/loginUser">Login</a>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/scripts/registerUser.js" type="application/javascript"></script>
</body>
</html>