<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>OpinionOwl | Responses</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}"></div>
        <h1>Survey#<span th:text="${surveyId}"></span>: <span th:text="${surveyTitle}"></span></h1>
    </body>
</html>